.navbar {
      padding-left: 60px;
      padding-right: 60px;
      background-color: transparent !important;
}

.navbar-nav{
    padding-left: 50px;
}

.nav-link {
      color: White;
      margin-right: 35px;
      font-size: 18px;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #3edff8;
}

.btnNav{
    background-color: #23b2c8;
    border-radius: 25px;
    border: none;
}

.ulRight{
    padding-left: 20px;
}

.dropdown{
    position: static!important;
}

.dropdown-menu{
    width: 100%!important;
    border-radius: 0;
    padding: 25px;
}

.dropdown.langDrop{
    position: relative!important;
}

.dropdown-menu.lang{
    left: 0!important;
    padding: 15px;
    min-width: 100px!important;
    width: 50px!important;
}

.dropdown-menu h2{
    font-size: 20px;
}

.dropdown-menu h3{
    font-size: 20px;
    color: #3edff8;
    font-weight: 600;
}

.dropdown-item{
    padding: 0;
    --bs-dropdown-link-hover-bg: #e9ecef00;
}

.dropdown-item:hover{
    color: #3edff8;
}

.dropdown-item:hover li{
    background-color: red!important;
}

.dropdown-menu .col{
    padding: 25px;
    border-radius: 25px;
    cursor: pointer;
}

.dropdown-menu .col:hover{
    background-color: #F0FDFF;
}


